#home {
  text-align: center;
  margin-top: 5%;
  width: 100px;
}

#main_title{
  text-align: center;
  padding: 5% 0;
}

#game #canvas_div {
  width: 500px;
  height: 500px;
}

#game #canvas_div #game_canvas, #game_canvas_overlay {
  position: absolute;
  width: 500px;
  height: 500px;
}

#game #canvas_div #game_canvas_overlay {
  background-color: grey;
  opacity: 0;
  text-align: center;
}

#game #canvas_div #game_canvas_overlay #game_canvas_overlay_text {
  padding-top: 40%;
  font-size: 50pt;
}
